* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(4, 70, 100);
    padding: 20px;
    color: blue;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.cartao-foto {
    background-color: rgb(44, 44, 196);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.cartao-foto :hover {
    transform: translateY(-5px);
}

.cartao-foto img {
    width: 100%;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    display: block;


}

.cartao-foto span {
    color: black;
}

.acoes {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid #4e8ab1;
    gap: 20px;
}

.grupo-curtir,
.grupo-comentario {
    display: flex;
    align-items: center;
    gap: 6px;
}

.acoes button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease;
}

.acoes button:houver {
    transform: scale(1.2);
}

.botao-curtir.curtido {
    color: red;
}